<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <!-- Navigation -->
        <div class="navbar navbar-dark bg-dark">
            <a href="/eth" class="navbar-brand">
                MyScan.io
            </a>
            <div>
                <a href="/eth/accountlist" class="btn btn-outline-light">Account List</a>
                <a href="/eth/wallet" class="btn btn-outline-light">Wallet</a>
                <a href="/eth/pendingtxs" class="btn btn-outline-light">Pending Txs</a>
                <a href="/eth/createtx" class="btn btn-outline-light">Create Tx</a>
                <a href="/eth/settings" class="btn btn-outline-light">Mining Settings</a>
            </div>
        </div>
    </div>
</body>
</html>