<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <!-- Navigation -->
        <div class="navbar navbar-dark bg-dark">
            <a href="/blockchain" class="navbar-brand">
                블록체인 데모
            </a>
            <div>
                <a href="#" class="btn btn-outline-light">Button</a>
            </div>
        </div>
    </div>
</body>
</html>