<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <!-- Navigation -->
        <div class="navbar navbar-dark bg-dark">
            <a href="/blockchain" class="navbar-brand">
                블록체인 데모
            </a>
            <div>
                <a href="/blockchain/wallet" class="btn btn-outline-light">Wallet</a>
                <a href="/blockchain/pendingtxs" class="btn btn-outline-light">Pending Txs</a>
                <a href="/blockchain/createtx" class="btn btn-outline-light">Create Tx</a>
                <a href="/blockchain/settings" class="btn btn-outline-light">Mining Settings</a>
            </div>
        </div>
    </div>
</body>
</html>