<% layout('layout/layout') %>

<div class="container">
    <br><h1>Pending Transactions</h1><br>
    <%
        if (txs && txs.length > 0) {
    %>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>From</th>
            <th>To</th>
            <th>Amount</th>
            <th>Valid?</th>
        </tr>
        </thead>
        <tbody>
        <%
            if (txs.forEach(function (el, idx) {
        %>
        <tr>
            <td><%=idx%></td>
            <td class="text-truncate" style="max-width: 150px;"><%=el.fromAddress%></td>
            <td class="text-truncate" style="max-width: 150px;"><%=el.toAddress%></td>
            <td class="text-truncate" style="max-width: 150px;"><%=el.amount%></td>
            <td>✓</td>
        </tr>
        <%
            }));
        %>
        </tbody>
    </table>
    <%
        }
    %>
    <a href="/eth/miningblock" class="btn btn-primary">Create block</a>
</div>